@{
    ViewData["Title"] = "News And Update Information";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@Html.AntiForgeryToken()
<div class="card card--lg">
    <div class="nav nav-tabs card--lg__tabs" id="nav-tab" role="tablist">
        <a class="nav-link active" id="tropue-basic-info-tab" asp-area="CMS" asp-controller="NewsAndUpdate" asp-action="NewsAndUpdate">
            Add NewsAndUpdate
        </a>
        <a class="nav-link" id="artist-info-tab" asp-area="CMS" asp-controller="NewsAndUpdate" asp-action="ViewNewsAndUpdate">
            View NewsAndUpdate
        </a>
    </div>
    <div class="card-body">
        <h5 class="view-form-details__title mt-0">NewsAndUpdate Information</h5>
        <form id="form">
            <div class="row g-4">
                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="text" id="NewsTitle" name="NewsTitle" class="form-control" />
                        <label for="NewsTitle">NewsTitle<span class="text-danger">*</span></label>
                        <input type="hidden" id="hidNewsAndUpdateType" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="text" id="NewsTitleOD" name="NewsTitleOD" class="form-control" />
                        <label for="NewsTitleOD">NewsTitle(Odia)<span class="text-danger">*</span></label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <textarea type="text" id="NewsDescription" name="NewsDescription" class="form-control" style="height: 121px;"></textarea>
                        <label for="NewsDescription">News Description<span class="text-danger">*</span></label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <textarea type="text" id="NewsDescriptionOD" name="NewsDescriptionOD" class="form-control" style="height: 121px;"></textarea>
                        <label for="NewsDescriptionOD">News Description(Odia)<span class="text-danger">*</span></label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="text" id="NewsSource" name="NewsSource" class="form-control" />
                        <label for="NewsSource">NewsSource<span class="text-danger">*</span></label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="text" id="NewsSourceOD" name="NewsSourceOD" class="form-control" />
                        <label for="NewsSourceOD">News Source(Odia)<span class="text-danger">*</span></label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="text" name="NewsPublishDate" id="NewsPublishDate" class="form-control" placeholder="News Publish Date" autocomplete="off">
                        <label for="NewsPublishDate">News Publish Date<span class="text-danger">*</span></label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating" id="fileUploadDiv11">
                        <input type="file" class="form-control" name="Image" id="Image">
                        <label for="BannerImage">News Photo<span id="spannewsphotos" class="text-danger">*</span></label>
                        <small id="errbannerupload" class="text-danger"></small>
                        <input type="hidden" id="hdnImage" />
                        <div>
                            <label class="text-info" id="hidenImage"></label><br />
                            <small class="text-danger small">Only jpeg,.png,.jpg,.jfif file and max size 1MB</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-2">
                <div class="text-center my-4">
                    <button type="button" class="btn btn-secondary btn-lg" id="btn_Submit" onclick="Save_NewsAndUpdate()">
                        Save
                    </button>
                    <button type="reset" class="btn btn-danger btn-lg" onclick="Reset()">
                        Reset
                    </button>

                </div>
            </div>
            <input id="hdnmedia" type="hidden" value="0" />
            <input id="hdnpath" type="hidden" value="0" />
        </form>
    </div>

</div>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script type="text/javascript" nonce="uG2bsk6JIH923nsvp01n24KE">
    $(document).ready(function () {
        function getUrlVars() {
            var vars = {};
            var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (m, key, value) {
                vars[key] = decodeURIComponent(value);
            });
            return vars;
        }
        var id = getUrlVars()["strid"];

        if (id != undefined || id != null) {
            Edit_NewsAndUpdate(id);
            $("#btn_Submit").text("Update");
        }
        var validationRules = {
            NewsTitle: {
                required: true
            },
            NewsTitleOD: {
                required: true
            },
            NewsDescription: {
                required: true
            },
            NewsDescriptionOD: {
                required: true
            },
            NewsSource: {
                required: true
            },
            NewsSourceOD: {
                required: true
            },
            NewsPublishDate: {
                required: true
            },
            Image: {
                required: id === undefined
            },
        };
        var validationMessages = {
            NewsTitle: {
                required: "Please Enter News Title"
            },
            NewsTitleOD: {
                required: "Please Enter News Title in Odia"
            },
            NewsDescription: {
                required: "Please Enter News Description"
            },
            NewsDescriptionOD: {
                required: "Please Enter News Description in Odia"
            },
            NewsSource: {
                required: "Please Enter News Source"
            },
            NewsSourceOD: {
                required: "Please Enter News Source in Odia"
            },
            NewsPublishDate: {
                required: "Please Enter News Publish Date"
            },
            Image: {
                required: "Please Upload Image"
            },
        };
        $("#form").validate({
            rules: validationRules,
            messages: validationMessages,
            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            },
            highlight: function (element) {
                $(element).removeClass("is-valid")
                $(element).parent().addClass('text-danger')
                $(element).addClass("is-invalid")
            },
            unhighlight: function (element) {
                $(element).parent().removeClass('text-danger')
                $(element).removeClass("is-invalid");
                $(element).addClass("is-valid")
            }
        });

    });
    function Edit_NewsAndUpdate(id) {
        $.ajax({
            type: "Get",
            dataType: "json",
            url: '@Url.Action("EditNewsAndUpdate", "NewsAndUpdate", new { area = "CMS" })',
            data: { "Id": id },
            success: function (Result) {
                var data1 = JSON.parse(Result);
                $("#hdnmedia").val(data1.Id);
                $('#NewsTitle').val(data1.NewsTitle);
                $('#NewsTitleOD').val(data1.NewsTitleOD);
                $('#NewsDescription').val(data1.NewsDescription);
                $('#NewsDescriptionOD').val(data1.NewsDescriptionOD);
                $('#NewsSource').val(data1.NewsSource);
                $('#NewsSourceOD').val(data1.NewsSourceOD);
                $('#NewsPublishDate').val(data1.NewsPublishDate);
                $('#hidenImage').text(data1.NewsPhoto);
                $('#hidenImage').val(data1.NewsPhoto);
                $('#hdnpath').val(data1.NewsPhotoPath);
                $('#spannewsphotos').remove();

            },
            error: function (Message) {
                alert(Message);
            }
        });
    }



    function Save_NewsAndUpdate() {
        if ($("#form").valid()) {
            var id = getUrlVars()["strid"];
            var formdata = new FormData();

            formdata.append("Id", $('#hdnmedia').val());
            formdata.append("NewsTitle", $('#NewsTitle').val());
            formdata.append("NewsTitleOD", $('#NewsTitleOD').val());
            formdata.append("NewsDescription", $('#NewsDescription').val());
            formdata.append("NewsDescriptionOD", $('#NewsDescriptionOD').val());
            formdata.append("NewsSource", $('#NewsSource').val());
            formdata.append("NewsSourceOD", $('#NewsSourceOD').val());
            formdata.append("NewsPublishDate", $('#NewsPublishDate').val());

            let Ifile = $('#Image').prop("files")[0];
            if (Ifile != undefined) {
                formdata.append('ImageFile', Ifile);
            }
            if (id != undefined) {
                formdata.append("NewsPhotoPath", $('#hdnpath').val());
                formdata.append("NewsPhoto", $('#hidenImage').val());
            }

            var msg = "";
            if ($('#hdnmedia').val() == 0) {
                msg = 'save';
            } else {
                msg = 'update';
            }
            Swal.fire({
                title: 'Are you sure?',
                text: "You want " + msg + " this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, ' + msg + ' it!'
            }).then((result) => {
                if (result.isConfirmed) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("NewsAndUpdate", "NewsAndUpdate", new { area = "CMS" })',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("RequestVerificationToken",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                data: formdata,
                cache: false,
                contentType: false,
                processData: false,
                dataType: "json",
                success: function (result) {
                    if (result.data.result != 88) {
                        Swal.fire({
                            icon: 'success',
                            title: result.responseText,
                            text: result.responseMessage,
                        }).then((result) => {
                            if (result.isConfirmed) {
                                var url = '@Url.Action("ViewNewsAndUpdate", "NewsAndUpdate", new { area = "CMS" })';
                                location.href = url;
                            }
                        })
                    }
                    else {
                        Swal.fire({
                            icon: 'warning',
                            title: 'warning',
                            text: 'Record Already Exist!!!',
                        }).then((result) => {
                            if (result.isConfirmed) {
                                var url = '@Url.Action("NewsAndUpdate", "NewsAndUpdate", new { area = "CMS" })';
                                location.href = url;
                            }
                        })
                    }
                },
                error: function (result) {
                    Swal.fire({
                        icon: 'error',
                        title: result.responseText,
                        text: result.responseMessage,
                    });
                },
            });
                }
                return false;
            })
        }
    }
</script>
<script type="text/javascript" nonce="uG2bsk6JIH923nsvp01n24KE">
    $(function () {
        $('#NewsPublishDate').datetimepicker({
            format: 'DD-MMM-YYYY',

        });
    });
</script>

<script type="text/javascript" nonce="uG2bsk6JIH923nsvp01n24KE">
    document.getElementById('Image').addEventListener('change', function () {
        var fileInput = this;
        var maxSizeInBytes = 1 * 1024 * 1024;

        if (fileInput.files.length > 0) {
            var fileSize = fileInput.files[0].size;
            var fileType = fileInput.files[0].type;
            var validTypes = ['image/jpeg', 'image/jpg', 'image/png'];

            if (!validTypes.includes(fileType)) {
                document.getElementById('errbannerupload').innerText = 'Only Image files are allowed.';
                fileInput.value = '';
            }
            else if (fileSize > maxSizeInBytes) {
                document.getElementById('errbannerupload').innerText = 'File size exceeds 1MB limit';
                fileInput.value = '';
            } else {
                document.getElementById('errbannerupload').innerText = '';
            }
        }
    });
</script>

<script>
    // Function to validate special characters for the first character only
    function validateFirstCharacter(inputElement) {
        var regex = /^[a-zA-Z0-9]+$/; // Regular expression to allow letters and numbers only
        var inputValue = inputElement.value.trim(); // Trim any whitespace
        if (inputValue.length > 0) {
            var firstChar = inputValue.charAt(0);
            if (!regex.test(firstChar)) {
                // If first character contains special characters or spaces, show an error message
                new swal("Please avoid using special characters or spaces as the first character.");
                inputElement.value = inputValue.substring(1); // Remove the first character
            }
        }
    }
    // Validate on input change
    document.querySelectorAll('input[type="text"], textarea').forEach(function (input) {
        input.addEventListener('input', function () {
            validateFirstCharacter(this);
        });
    });
</script>
<script>
    function Reset() {
        $('#NewsTitle').val("").removeClass("is-valid");
        $('#NewsTitleOD').val("").removeClass("is-valid");
        $('#NewsDescription').val("").removeClass("is-valid");
        $('#NewsDescriptionOD').val("").removeClass("is-valid");
        $('#NewsSource').val("").removeClass("is-valid");
        $('#NewsSourceOD').val("").removeClass("is-valid");
        $('#NewsPublishDate').val("").removeClass("is-valid");
        $('#hidenImage').text("").removeClass("is-valid");
    }
</script>

