@{
    ViewData["Title"] = "TroupeRegistrationView";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .urgentBox {
        background-image: url(../images/urgentBg.png);
        background-repeat: no-repeat;
        background-position: right bottom;
        font-size: 12px;
        color: #555;
        padding: 7px;
        display: block;
        right: 0;
        margin: 0;
        line-height: .5em;
        width: 60px;
    }
    .urgentBox label {
        color: #fff;
        bottom: 0;
        text-align: center;
        margin: 2px;
    }
    .modal-lg, .modal-xl {
        max-width: 1077px;
    }
</style>
@Html.AntiForgeryToken()
<div class="inner-layout">
    <div class="container-fluid px-4 pt-3">
        <nav class="tab-menu">
        </nav>
        <div class="card">
            <div class="card-header">
                <h6>ViewTroupeRegister</h6>
            </div>
            <div class="table-responsive" id="printArea">
                <table class="table table-bordered" id="datatable">
                    <thead>
                        <tr>
                            <th width="20" class="text-center">@Localizer["SL"]</th>
                            <th>@Localizer["DistrictName"]</th>
                            <th>@Localizer["BlockName"]</th>
                            <th>@Localizer["GPName"]</th>
                            <th>@Localizer["GroupName"]</th>
                            <th>@Localizer["LeaderName"]</th>
                            <th>@Localizer["MobileNo"]</th>
                            <th>@Localizer["MemberCount"]</th>
                            <th class="no-print">@Localizer["Edit"]</th>
                        </tr>
                    </thead>
                    <tbody id="bindtable">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="successModal22" class="modal customodal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="successModal22"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-light">
                <h5 class="modal-title" id="exampleModalLabel" style="color:black">
                    @Localizer["Member Details"]
                </h5>
                <button type="button" class="btn-close" style="color:black" data-bs-dismiss="modal" aria-label="Close">X</button>
            </div>
            <div class="modal-body" width="100%" id="viewdiv">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="tblDes">
                            <thead>
                                <tr style="background:#eee;">
                                    <th>@Localizer["SL"]</th>
                                    <th>@Localizer["MemberName"]</th>
                                    <th>@Localizer["Role"]</th>
                                    <th>@Localizer["AadhaarNo"]</th>
                                    <th>@Localizer["AccountNo"]</th>
                                    <th>@Localizer["BankName"]</th>
                                    <th>@Localizer["BranchName"]</th>
                                    <th>@Localizer["IFSC"]</th>
                                </tr>
                            </thead>
                            <tbody id="addmore"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" nonce="uG2bsk6JIH923nsvp01n24KE">
    $(document).ready(function () {
        LoadData(0);
    });
      function LoadData(ID) {
        if (ID !== 0) {
            $(".dip").css("display", "none");
        } else {
            $(".dip").css("display", ""); 
        }
        var record = new Object();
        record.Status = ID;
        $.ajax({
            data: record,
            beforeSend: function (xhr) {
                xhr.setRequestHeader("RequestVerificationToken",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            url: '@Url.Action("TroupeRegistrationView", "Registration")',
            type: "POST",
            dataType: "json",
            success: function (data) {
                $('#bindtable').empty();
                var slno = 0;
                var htm = '';
                var objAyyList = data.data;
                if (objAyyList !=null ) {
                    for (var i = 0; i < objAyyList.length; i++) {
                        slno = slno + 1;
                        htm += '<tr>';
                        htm += '<td>' + slno + '</td>';
                        htm += '<td>' + objAyyList[i].DistrictName + '</td>';
                        htm += '<td>' + objAyyList[i].BlockName + '</td>';
                        htm += '<td>' + objAyyList[i].GPName + '</td>';
                        htm += '<td>' + objAyyList[i].GroupName + '</td>';
                        htm += '<td>' + objAyyList[i].LeaderName + '</td>';
                        htm += '<td>' + objAyyList[i].MobileNo + '</td>';
                        htm += '<td><a style="color:Blue;cursor: pointer;" data-toggle="modal"  onclick="return MemberDetails(' + objAyyList[i].TroupeId + ')">' + objAyyList[i].MemberCount + '</a></td>';
                        if (objAyyList[i].ApprovedStatus !== 0) {
                            htm += '';
                        } else {
                            htm += '<td><a href="@Url.Action("TroupeRegistration", "Registration")?TroupeId=' + objAyyList[i].TroupeId + '"><i class="bi bi-pencil-square"></i></a></td>';
                        }
                        htm += '</tr>';
                    }
                }
                else {
                    htm += '<tr><td colspan="9"><center><b>No Record found</b></center></td></tr>';
                }

                $('#bindtable').append(htm);
            }
        });
    }
    function MemberDetails(Troupeid) {
        var TROUPEID = Troupeid;
        $('#successModal22').modal('show');
        $.ajax({
            type: "POST",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("RequestVerificationToken",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            url: '@Url.Action("GetMemberDetails", "Registration")',
            data: { "TROUPEID": TROUPEID },
            success: function (newdata) {
                var Count = 0;
                var List = "";
                newdata=JSON.parse(newdata);
                $.each(newdata.data, function (i, v1) {
                    Count = Count + 1;
                    if (v1.IsLeader == 1) {
                        List += "<tr><td width='5%'>" + Count + "</td><td>" + v1.MemberName + "<div class='urgentBox'><span>Leader</span></div></td><td>" + v1.Role + "</td><td>" + v1.AadharNo + "</td><td>" + v1.AccountNo + "</td><td>" + v1.BankName + "</td><td>" + v1.BranchName + "</td><td>" + v1.IFSC + "</td></tr>";
                    }
                    else {
                        List += "<tr><td width='5%'>" + Count + "</td><td>" + v1.MemberName + "</td><td>" + v1.Role + "</td><td>" + v1.AadharNo + "</td><td>" + v1.AccountNo + "</td><td>" + v1.BankName + "</td><td>" + v1.BranchName + "</td><td>" + v1.IFSC + "</td></tr>";
                    }
                });
                $("#addmore").html(List)
            }
        })
    }
</script>