@model CTMS.Web.Areas.AdminConsole.Models.GlobalLink.ViewGlobal
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Areas/AdminConsole/Views/Shared/_AdminConsoleLayout.cshtml";
    ViewBag.Title = "Add Global Link";
}

<div class="card card--lg">
    <div class="nav nav-tabs card--lg__tabs" id="nav-tab" role="tablist">
        <a class="nav-link active" id="add-hierarchy" asp-controller="GlobalLink" asp-action="AddGlobalLink">
            Add
        </a>
        <a class="nav-link" id="active-hierarchy" asp-controller="GlobalLink" asp-action="ViewGlobalLinkActive">
            Active
        </a>
        <a class="nav-link" id="inactive-hierarchy" asp-controller="GlobalLink" asp-action="ViewGlobalLinkInActive">
            InActive
        </a>
    </div>
    <div class="card-body">
        <form id="frmCreateGlobalLink" data-parsley-validate novalidate method="post" asp-action="AddGlobalLink" asp-controller="GlobalLink" asp-area="AdminConsole" asp-antiforgery="true" onsubmit="return validateForm()">

            <div class="row g-4 mb-4">
                <div class="col-md-4">
                    <div class="form-floating">
                        <select asp-for="INTPROJECTLINKID" asp-items="@(new SelectList(Model.ProjectList,"INTPROJECTLINKID","NVCHPROJECTLINKNAME"))" id="ddlProjectLink" class="form-select" autofocus>
                            <option value="0">--Select Project Link--</option>
                        </select>
                        <label for="tname">Project Link Name<span class="text-danger">*</span></label>
                        <span class="text-danger" id="projectlinkname"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-floating">
                        <input asp-for="GlobalLinkName" type="text" id="txtGLinkName" name="GlobalLinkName" Onkeypress="return inputLimiter(event,'Description')" class="form-control" placeholder="Enter Global Link Name" autocomplete="off" maxlength="50" />
                        <label for="tname">Global Link Name<span class="text-danger">*</span></label>
                    </div>
                    <span class="text-danger" id="globalname"></span>
                </div>
                <div class="col-md-4">
                    <div class="form-floating">
                        <input asp-for="VCHICONCLASS" type="text" id="txtIconClass" name="VCHICONCLASS" class="form-control" placeholder="Enter Icon Class" autocomplete="off" maxlength="50" />
                        <label for="block">Icon Class<span class="text-danger">*</span></label>
                        <span class="text-danger" id="iconclass"></span>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <label class="control-label">Global Link Sort No<span style="color:Red">*</span></label>
                    <div class="input-group">
                        <input type="hidden" asp-for="GintSortNum" name="GintSortNum" id="hfID" />
                        <label id="lblslno" asp-for="GMAxid" name="GMAxid"></label>
                        <input asp-for="CreatedBy" type="hidden" value=@Model.CreatedBy />
                    </div>
                </div>
            </div>
            <div class="mt-4">
                <button type="submit" name="submit" title="Submit" id="btnsubmit" class="btn btn-primary rounded-pill btn-lg" value="Submit">Submit</button>
                <button type="button" class="btn btn-secondary rounded-pill btn-lg" title="Reset" id="btnReset"> Reset </button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
   

    <script type="text/javascript" language="javascript">
        $('#btnsubmit').click(function (e) {
            e.preventDefault(); // Prevent the default form submission


            if ($("#ddlProjectLink").val() == 0) {
                $("#ddlProjectLink").focus();
                new swal("", "Please Select Project Link  Name.", "error");

                return false;
            }
            else if ($("#txtGLinkName").val() == "") {
                $("#txtGLinkName").focus();
                new swal("", " Global Link Name Can't be blank.", "error");

                return false;

            }
            else if ($("#txtIconClass").val() == "") {
                $("#txtIconClass").focus();
                new swal("", "Icon Class Can't be blank.", "error");

                return false;
            }
            else if ($("#txtsortnum").val() == "") {
                $("#txtsortnum").focus();
                new swal("", " Global Link Sort No Can't be blank.", "error");

                return false;

            }
            else {
                var formData = {
                    INTPROJECTLINKID: $('#ddlProjectLink').val(),
                    GlobalLinkName: $('#txtGLinkName').val(),
                    VCHICONCLASS: $('#txtIconClass').val(),
                    GintSortNum: $('#txtsortnum').val(),
                    GMAxid: $('#GMAxid').val(),
                    CreatedBy: $('#CreatedBy').val()
                };
               Swal.fire({
    title: "Are you sure?",
    text: "You want to create",
    icon: "warning",
    showCancelButton: true,
    confirmButtonColor: "#DD6B55",
    confirmButtonText: "Yes",
    closeOnConfirm: false
}).then((result) => {
    if (result.isConfirmed) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("AddGlobalLink", "GlobalLink")',
            data: formData,
            success: function (response) {
                Swal.fire({
                    title: "",
                    text: response,
                    icon: "success"
                }).then(() => {
                    window.location.href = '@Url.Action("ViewGlobalLinkActive", "GlobalLink")';
                });
            },
            error: function () {
                Swal.fire({
                    title: "",
                    text: 'An error occurred while processing the request.',
                    icon: "error"
                }).then(() => {
                    return;
                });
            }
        });
    }
});

            }
        });

        function inputLimiter(e, allow) {
            var AllowableCharacters = '';

            if (allow == 'NameCharactersymbol') {
                AllowableCharacters = ' ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz./&';
            }
            if (allow == 'NameCharacters') {
                AllowableCharacters = ' ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz-.\'';
            }
            if (allow == 'Email') {
                AllowableCharacters = '1234567890@ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz_.';
            }
            if (allow == 'Description') {
                AllowableCharacters = '1234567890 ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz-.,()/';
            }
            if (allow == 'NameCharactersAndNumbers') {
                AllowableCharacters = '1234567890 ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz-,/.\&';
            }
            if (allow == 'Numbers') {
                AllowableCharacters = '1234567890';
            }
            if (allow == 'Decimal') {
                AllowableCharacters = '1234567890.';
            }
            if (allow == 'Filename') {
                AllowableCharacters = '1234567890ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz/';
            }
            var k;
            k = document.all ? parseInt(e.keyCode) : parseInt(e.which);
            if (k != 13 && k != 8 && k != 0) {
                if ((e.ctrlKey == false) && (e.altKey == false)) {
                    return (AllowableCharacters.indexOf(String.fromCharCode(k)) != -1);
                }
                else {
                    return true;
                }
            }
            else {
                return true;
            }
        }

        $(function () {
            $("#btnReset").bind("click", function () {
                $("#ddlProjectLink")[0].selectedIndex = 0;
                document.forms["frmCreateGlobalLink"]["GlobalLinkName"].value = "";
                $("#txtIconClass").val("");
            });
        });
    </script>

    <script type="text/javascript" nonce="uG2bsk6JIH923nsvp01n24KE">
        $(document).ready(function () {
            $("#lblslno").text(@Model.GMAxid);
            $("#hfID").text(@Model.GMAxid);

        });
    </script>

}