@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}
<style>
    .instruction-list li {
        border: 0;
        padding-top: 0;
    }
</style>
<link href="~/css/about.css" rel="stylesheet" />
<div class="innerpage-container-breadcrumb">
    <div class="container">
        <h2 class="page-heading">@Localizer["About Us"]</h2>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="../Home/Index">@Localizer["Home"]</a></li>
                <li class="breadcrumb-item active">@Localizer["About Us"]</li>
            </ol>
        </nav>
    </div>
</div>
<div class="innerpage-container">
    <div class="container">
        <div class="about-details">
            <div class="img-right">
                <img src="~/images/gallery2.png" alt="about image" class="about-details__image  img-fluid w-100 mb-3">
            </div>
            <h4 class="text-primary"><strong>@Localizer["About the Department"]</strong></h4>
            <p>
                @Localizer["Odisha is the bastion of rich cultural heritage with its historical monuments, archaeological sites, traditional arts, sculpture, dance and music. From the time immemorial Odisha attracts a large number of scholars, artists and tourists. The Department of Culture looks forward for the systematic and comprehensive promotion in the field of art and culture in the State and the Department aims at preserving the ancient cultural tradition and antiquities with the help of its subordinate offices and autonomous organization functioning under it."]
            </p>
            <h4 class="text-primary mt-md-4"><strong>@Localizer["About the Kala Sanskruti Sangha"]</strong></h4>
            <p class="mb-4">
                @Localizer["Odisha,in India, the ancient name, “Utkal” means land of fine art. Its Odissi Dance created fame in the world. But most significant and  popular is its folk culture encompassing hundreds of forms of folk dances, folk music, folk theatres, folk plays etc. They are  surviving for centuries but many of them are on the verge of dying and some losing their  originality or traditionality due to various reasons. In this context for the promotion and preservation of the rich Cultural Heritage of Odisha, a noble initiative is undertaken by Govt. of Odisha titled “Kala Sanskruti Sangha”. In Block level it is known as “Block Kala Sanskruti Sangha” (BKSS) at district level “Zilla Kala Sanskruti Sangha”(ZKSS) and at state level “Rajya Kala sanskruti Sangha”(RKSS). It is unique of a programme in the country having three noble objectives: 1) livelihood support to the artist, 2) conservation & promotion of rich culture, and 3) effective IEC campaign on key developmental schemes of Government. Viewing the immense success of the scheme, Initiated in Ganjam district in june 2010 by  hon’ble Chief Minister, State Government of Odisha   has implemented it  all over the state in 30 districts & 314 blocks."]
            </p>
            <div class="img-left">
                <img src="~/images/gallery3.png" alt="about image" class="about-details__image  img-fluid w-100 mb-3">
            </div>
            <h4 class="text-primary mt-md-4"><strong>@Localizer["Mission"]</strong></h4>
            <p>
                @Localizer["It is unique of a programme in the country having three noble objectives: 1) livelihood support to the artist, 2) conservation & promotion of rich culture, and 3) effective IEC campaign on key developmental schemes of Government. Viewing the immense success of the scheme, Initiated in Ganjam district in june 2010 by  hon’ble Chief Minister, State Government of Odisha   has implemented it  all over the state in 30 districts & 314 blocks .\r\n Till now  Under the scheme, more than 21000 cultural troupes,  of around 200 folk art forms, from all 314 block of the state are enrolled in Kala Sanskruti Sangha. These groups, where more than two lakhs of beneficiary artists are involved, will perform cultural programme  and IEC activities in different phases.\r\nIn the ensuing IEC campaign it is estimated that  about two and half lakh traditional folk  performing art programme will be organised, covering more than fifty one thousand villages of Odisha. Organising in a single phase this will be a  unique and largest programme of its kind."]
            </p>
            <div class="clearfix"></div>
            <h4 class="text-primary mt-md-4"><strong> @Localizer["Vision"]</strong></h4>
            <ul class="list-group list-group-flush instruction-list">
                <li class="list-group-item ps-0">
                    <i class="bi bi-arrow-right list-group-item__icon"></i>
                    @Localizer["By introducing this innovative initiative of Govt of Odisha almost all the Folk Artists comprising of appx. 2 lakh artists in the State have been able to earn their livelihood support through this scheme."]
                </li>
                <li class="list-group-item ps-0">
                    <i class="bi bi-arrow-right list-group-item__icon"></i>
                    @Localizer["Endangered/ dying folk arts of the State being focused, recovered, preserved, and properly documented which will lead in proper planning for its promotion."]
                </li>
                <li class="list-group-item ps-0">
                    <i class="bi bi-arrow-right list-group-item__icon"></i>
                    @Localizer["During the pandemic almost many of the migrant workers who are artists  they were able to earn their livelihood, through cultural activities, staying in their own motherland around their own family and relatives with more dignity and prestige."]
                </li>
                <li class="list-group-item ps-0">
                    <i class="bi bi-arrow-right list-group-item__icon"></i>
                    @Localizer["The formation of this Folk Art Unit is  not only a unique in the state but may be  first of its kind in the country."]
                </li>
                <li class="list-group-item ps-0">
                    <i class="bi bi-arrow-right list-group-item__icon"></i>
                    @Localizer["Through this scheme most of the folk art forms and its artists hidden at grass root level could came to lime light and focused. This resulted in organization of numerous festivals, functions, seminars and workshop etc at state and national level. They could get recognisation at state and national level. Folk Art has been protected, and give way to the posterity."]
                </li>
                <li class="list-group-item ps-0">
                    <i class="bi bi-arrow-right list-group-item__icon"></i>
                    @Localizer["The new generation is getting attracted to this traditional form of Folk Art as it can be a way of earning for them."]
                </li>
            </ul>
            <h4 class="text-primary mt-md-4"><strong> @Localizer["Objective"]</strong></h4>
            <div class="img-right">
                <img src="~/images/gallery2.png" alt="about image" class="about-details__image  img-fluid w-100 mb-3">
            </div>
            <h6><strong>@Localizer["Promotion and Preservation of Traditional Folk Art"]:</strong></h6>
            <p>@Localizer["This focuses on ensuring that hundreds  of traditional folk art forms of Odisha are not only preserved but also actively promoted. This is essential for keeping these art forms alive and thriving."]</p>
            <h6><strong>@Localizer["Welfare of Artists"]:</strong></h6>
            <p>@Localizer["Providing livelihood support to the artists is a vital component of this initiative. By supporting the artists, the government is not only recognizing their contributions but also ensuring that they can continue their artistic pursuits and livelihoods"]</p>
            <h6><strong>@Localizer["Information, Education, and Communication (IEC) Activities"]:</strong></h6>
            <p>@Localizer["The initiative includes raising awareness among the people and disseminating information about the government's flagship schemes through folk performing artists. The efficacy of this folk media is quite better than other since the artists  disseminate messages in their own collocal language, in their own art form, in among their own people and above all in local style which attracts and effect the people in a greater manner than other medias.   This helps in better communication and engagement with the communities."]</p>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $("#About").addClass("active");
    })
</script>
