@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}
<link href="~/css/lightgallery.css" rel="stylesheet" />
<style>
    .inner-gallery {
        grid-template-columns: repeat(4,1fr);
        gap: 1.5rem;
    }
    @@media (max-width: 576px) {
        .inner-gallery {
            grid-template-columns: repeat(2,1fr);
            gap: 1rem;
        }
        .home-gallery__item img {
            height: 140px;
        }
    }
</style>
<div class="innerpage-container-breadcrumb">
    <div class="container d-flex justify-content-between align-items-center">
        <div>
            <h2 class="page-heading">Photos</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index" asp-area="">Home</a></li>
                    <li class="breadcrumb-item active">Photos</li>
                </ol>
            </nav>
        </div>
        <button class="btn btn-sm btn-secondary" onclick="window.history.back()"><i class="bi bi-arrow-left "></i> Back to Gallery</button>
    </div>
</div>
<div class="innerpage-container">
    <div class="container">
        <h3 class=" mb-3 text-primary">@ViewBag.GalleryName</h3>
        <div id="homeGallery" class="home-gallery inner-gallery">
        </div>
    </div>
</div>
<script src="~/js/lightgallery-all.min.js"></script>
<script type="text/javascript" nonce="uG2bsk6JIH923nsvp01n24KE">
    $(document).ready(function () {
        mediabind(@ViewBag.Id,@ViewBag.MediaType);
    });
     function mediabind(id,MediaType) {
        $.ajax({
            url: '@Url.Content("~/")' + 'Home/GetMediaBind',
            data: { GalleryId: id, MediaType: MediaType },
            type: "get",
            dataType: "json",
            async: false,
            success: function (data) {
                if (data.state == "success") {
                    var result = data.data;
                    var thisHtml = '';
                    for (var i = 0; i < result.length; i++) {
                        var photopath = "@Url.Content("~/")" + result[i].Path;
                        var ThumbnailImg = "@Url.Content("~/")" + result[i].Thumbnail;
                        thisHtml += '<a class="home-gallery__item" href="' + photopath + '">'
                            + '<img src="' + photopath + '" alt="KSSMS" />'
                            + '<span class="home__gallery-icon">'
                            + '<span class="icon-gallery1-expand"></span>'
                            + '</span>'
                            + '</a>';
                    }
                    $('#homeGallery').html(thisHtml);
                    $('#homeGallery').lightGallery();
                }
            }
        });
    }
</script>
