@model CTMS.Web.Areas.AdminConsole.Models.PrimaryLink.PrimaryModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Areas/AdminConsole/Views/Shared/_AdminConsoleLayout.cshtml";

    ViewData["Title"] = "Active Global Link";
}

@section Scripts {

    <script type="text/javascript" nonce="uG2bsk6JIH923nsvp01n24KE">
        $(document).ready(function () {
            function chkClearField() {
                $('input[type=checkbox]').prop('checked', false);
            }
            $('#btnsubmit').click(function (e) {
                e.preventDefault(); // Prevent the default form submission
                if ($('#example1 :checked').length == 0) {
                    new swal("No record selected for Inactive!");
                    return false;
                }
                var chkbox = [];
                $('input[name=chkbox]:checked').map(function () {
                    chkbox.push($(this).val());
                });

                Swal.fire({
                    title: "Are you sure?",
                    text: "You want to Mark As In-Active",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes",
                    closeOnConfirm: false
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            type: 'POST',
                            url: '/AdminConsole/PrimaryLink/MarkAsInActive',
                            data: { chkbox: chkbox },
                            success: function (response) {
                                console.log(response);
                                if (response === "Marked As InActive Successfully") {
                                    Swal.fire({
                                        title: "",
                                        text: response,
                                        icon: "success"
                                    }).then(() => {
                                        window.location.href = "/AdminConsole/PrimaryLink/ViewInActivePrimaryLink";
                                    });
                                } else if (response === "Already Exist") {
                                    Swal.fire({
                                        title: "",
                                        text: response,
                                        icon: "warning"
                                    }).then(() => {
                                        return;
                                    });
                                } else {
                                    Swal.fire({
                                        title: "",
                                        text: response,
                                        icon: "error"
                                    }).then(() => {
                                        return;
                                    });
                                }
                            },
                            error: function () {
                                Swal.fire({
                                    title: "",
                                    text: 'An error occurred while processing the request.',
                                    icon: "error"
                                }).then(() => {
                                    return;
                                });
                            }
                        });
                    }
                });

            });
        });
    </script>
    <script type="text/javascript" nonce="uG2bsk6JIH923nsvp01n24KE">
        function check_uncheck_checkbox(isChecked) {
            if (isChecked) {
                $('input[name="chkbox"]').each(function () {
                    this.checked = true;
                });
            }
            else {
                $('input[name="chkbox"]').each(function () {
                    this.checked = false;
                });
            }
        }
        function ClearField() {
            $('input[type=checkbox]').prop('checked', false);
        }
        function BindGlobalLink() {
            var ProjectId = $('#ddlProjectLink').val();
            var data = {
                projId: ProjectId

            };

            $.ajax({
                type: 'GET',
                url: '@Url.Content("~/AdminConsole/PrimaryLink/BindGlobalLinkByProjectId")',
                data: data,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    if (response.length == 0) {

                    } else {
                        console.log(response);
                        $("#ddlsearchGlobalLink").empty();
                        $("#ddlsearchGlobalLink").append($('<option value="0">--Select Global Link--</option>'));
                        if (response.length > 0) {
                            for (var i = 0; i < response.length; i++) {
                                $("#ddlsearchGlobalLink").append($('<option/>')
                                    .val(response[i].intGLinkID)
                                    .html(response[i].nvchGLinkName)
                                );
                            }
                        }
                    }

                },
                error: function (error) {
                    console.log(error);
                }
            });
            return true;
        }
    </script>
    <script type="text/javascript" language="javascript">
        function validateSearchForm() {
            if ($("#ddlProjectLink").val() == 0) {
                $("#ddlProjectLink").focus();
                new swal("Please Select Project Link Name.");

                return false;
            }
            else if ($("#ddlsearchGlobalLink").val() == 0) {
                $("#ddlsearchGlobalLink").focus();
                new swal("Please Select Global Link.");
                return false;
            }
        }
        function validateForm() {

        }

        $("#Modify").click(function (e) {

            if ($('#example1 :checked').length == 0) {
                new swal("No record selected for Modify!");
                return false;
            }
            var len = $("#example1 tr").length;

            var strSelecteds = '';
            var rows = $("#example1 tr");

            for (var i = 0; i < rows.length; i++) {
                var row = $(rows).eq(i);
                var cb = row.find('input.cboxDELclass');
                var checked = (cb.is(':checked'));
                var pkno = cb.val();
                var txtSLNO = row.find('input#SLNO');
                var NewSLNO = txtSLNO.val();

                if (checked) {
                    strSelecteds = strSelecteds + pkno + '|' + NewSLNO + '|' + $('#ddlsearchGlobalLink').val() + '^';
                }
            }

            if (strSelecteds.length > 0) {
                strSelecteds = strSelecteds.substring(0, strSelecteds.length - 1);
            }

            var datastring = {
                slnomodifyList: strSelecteds,
            };

            if (strSelecteds.length > 0) {
               Swal.fire({
    title: "",
    text: "Are you sure want to modify Sl no?",
    icon: "warning",
    showCancelButton: true,
    confirmButtonColor: "#DD6B55",
    confirmButtonText: "Yes",
    closeOnConfirm: false
}).then((result) => {
    if (result.isConfirmed) {
        $.ajax({
            type: "post",
            url: '@Url.Content("~/AdminConsole/PrimaryLink/SlnoModifyData")',
            data: JSON.stringify(datastring),
            datatype: "json",
            contentType: 'application/json',
            traditional: true,
            success: function (data) {
                Swal.fire({
                    title: "",
                    text: data.response,
                    icon: "success"
                }).then(() => {
                    window.location.href = "/AdminConsole/PrimaryLink/ViewActivePrimaryLink";
                });
            }
        });
    } else {
        return false;
    }
});

            }
        });

    </script>

}
@{
    if (TempData["CommandStatus"] != null)
    {
        <script type="text/javascript">
            new swal('@(TempData["CommandStatus"])');
            TempData["CommandStatus"] = null;
        </script>
    }

}


<div class="card card--lg">
    
    <div class="nav nav-tabs card--lg__tabs" id="nav-tab" role="tablist">
        <a class="nav-link" id="add-hierarchy" asp-controller="PrimaryLink" asp-action="AddPrimaryLink">
            Add
        </a>
        <a class="nav-link active" id="active-hierarchy" asp-controller="PrimaryLink" asp-action="ViewActivePrimaryLink">
            Active
        </a>
        <a class="nav-link" id="inactive-hierarchy" asp-controller="PrimaryLink" asp-action="ViewInActivePrimaryLink">
            InActive
        </a>
    </div>

    <div class="card-body">
        <div class="form-group">
            <form id="frmsearchPrimaryLink" data-parsley-validate novalidate method="post" asp-action="SearchPrimaryLink" asp-controller="PrimaryLink" asp-area="AdminConsole" asp-antiforgery="true" onsubmit="return validateSearchForm()">
                
                <div class="row g-4 mb-4">
                    <div class="col-md-4">
                        <div class="form-floating">
                            <select asp-for="INTPROJECTLINKID" asp-items="@(new SelectList(Model.ViewProjectLinkList,"INTPROJECTLINKID","NVCHPROJECTLINKNAME"))" id="ddlProjectLink" onchange=" return BindGlobalLink();" class="form-select" autofocus>
                                <option value="0">--Select Project Link--</option>
                            </select>
                            <label for="tname">Project Link Name<span class="text-danger">*</span></label>
                            <span class="text-danger" id="errtxtHirerarchyName"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating">
                            <select asp-for="GlinkId" asp-items="@(new SelectList(Model.GlobalList,"intGLinkID","nvchGLinkName"))" id="ddlsearchGlobalLink" class="form-select">
                                <option value="0">--Select Global Link--</option>
                            </select>
                            <label for="tname">Global Link Name<span class="text-danger">*</span></label>
                            <span class="text-danger" id="errtxtnooflevel"></span>
                        </div>
                        
                    </div>
                  
                </div>
                <div class="mt-4">
                    <div class="text-center">
                        <button type="submit" name="submit" id="btnSearch" class="btn btn-primary btn-sm" value="Submit">Search</button>
                    </div>

                </div>

            </form>
        </div>
    </div>

    <div class="card-body">
        @if (Model.PrimaryLinkList != null)
        {

            @if (Model.PrimaryLinkList.Count != 0)
            {
                <form id="frmCreatePrimaryLink" data-parsley-validate novalidate method="post" asp-action="MarkAsInactive" asp-controller="PrimaryLink" asp-area="AdminConsole" asp-antiforgery="true" onsubmit="return validateForm()">
                    <div class="table-responsive--rounded table-responsive--datatable">
                        <div class="table-responsive">
                            <table data-toggle="table" class="table table-hover table-bordered table-padding" id="example1">

                                <thead>
                                    <tr>
                                        <th width="10px"><input type="checkbox" id="checkBoxAll" onclick="check_uncheck_checkbox(this.checked)" /> All</th>
                                        <th width="10px">SL#</th>
                                        <th width="10px">Primary Serial #</th>
                                        <th width="100px">Project Link Name</th>
                                        <th width="100px">Global Link Name</th>
                                        <th width="100px">Function Name</th>
                                        <th width="100px">Primary Link Name</th>
                                        <th width="10px">Edit</th>


                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.PrimaryLinkList.Count != 0)
                                    {
                                        @foreach (var primarylink in Model.PrimaryLinkList.Select((x, i) => new { Data = x, Index = i + 1 }))
                                        {

                                            <tr>
                                                <td><input class="cboxDELclass" id="cboxDELclass" type="checkbox" name="chkbox" value="@primarylink.Data.INTPLINKID" /></td>
                                                <td>@primarylink.Index</td>
                                                <td>
                                                    <input type="text" class="form-control" id="SLNO" value="@primarylink.Data.INTSLNO" Onkeypress="return inputLimiter(event,'Numbers')" placeholder="Enter Serial no" autocomplete="off" maxlength="3" />
                                                </td>
                                                <td>@Html.DisplayFor(modelItem => primarylink.Data.NVCHPROJECTLINKNAME)</td>
                                                <td>@Html.DisplayFor(modelItem => primarylink.Data.NVCHGLINKNAME)</td>
                                                <td>@Html.DisplayFor(modelItem => primarylink.Data.VCHFUNCTION)</td>
                                                <td>@Html.DisplayFor(modelItem => primarylink.Data.NVCHPLINKNAME)</td>
                                                <td>
                                                    <a class="btn btn-info btn-sm" data-toggle="tooltip" data-original-title="Edit" asp-controller="PrimaryLink"
                                                       asp-action="EditActivePrimaryLink" asp-area="AdminConsole" asp-route-id="@primarylink.Data.INTPLINKID">
                                                        <i class="icon-edit1">Edit</i>
                                                    </a>

                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr style="text-align: center;font-size: x-large;font-weight: bolder;">
                                            <td colspan='6' align='center'> No records found!</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>


                        </div>
                    </div>
                    <input asp-for="UpdatedBy" type="hidden" id="hdnGLinkID" value="1" />

                    <button type="submit" name="submitButton" id="btnsubmit" class="btn btn-primary btn-sm" title="Mark AS Inactive" value="submit">Mark AS Inactive</button>
                    <input type="button" id="Modify" class="btn btn-success btn-sm" value="Modify Primary Serial #" />
                    <button type="button" class="btn btn-danger btn-sm" title="Reset" onclick="return ClearField();"><span class="localize" data-key="Reset">Reset</span></button>
                </form>
                           
                <div style="float: right;">
                    @{
                        if (TempData["CommandStatus_S"] != null)
                        {
                            TempData["CommandStatus_S"] = null;
                            <script type="text/javascript" language="javascript">
                                new swal("Record Saved Successfully");
                            </script>
                        }

                    }
                    @{
                        if (TempData["CommandStatus_A"] != null)
                        {
                            TempData["CommandStatus_A"] = null;
                            <script type="text/javascript" language="javascript">
                                new swal("Record Already Exist");
                            </script>
                        }

                    }
                    @{
                        if (TempData["CommandStatus_U"] != null)
                        {
                            TempData["CommandStatus_U"] = null;
                            <script type="text/javascript" language="javascript">
                                new swal("Record Updated Successfully");
                            </script>
                        }

                    }
                    @{
                        if (TempData["CommandStatus_AC"] != null)
                        {
                            TempData["CommandStatus_AC"] = null;
                            <script type="text/javascript" language="javascript">
                                new swal("Record Marked As Active Successfully");
                            </script>
                        }

                    }
                    @{
                        if (TempData["CommandStatus_AU"] != null)
                        {
                            TempData["CommandStatus_AU"] = null;
                            <script type="text/javascript" language="javascript">
                                new swal("Record Already in Use");
                            </script>
                        }

                    }
                </div>
            }
            else
            {
                <h4>Record Not Found</h4>
            }
        }

    </div>

            
</div>


