@{
    ViewData["Title"] = "Troupe Performance Approval Reported";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var troupedetails = ViewBag.TroupeApprovalList;
}

<div class="card card--lg main-card">
    <div class="nav nav-tabs card--lg__tabs" id="nav-tab" role="tablist">
        <a asp-controller="Report" asp-action="TroupeReporedApprovalList" asp-area="" class="nav-link">
            Pending
        </a>
        <a asp-controller="Report" asp-action="TroupeReportingApprovalList" asp-area="" class="nav-link active">
            Reported
        </a>
        <a class="btn btn-primary btn-sm ms-auto mb-2" data-bs-toggle="collapse" href="#collapseFilter" role="button">
            Filter <i class="bi bi-filter"></i>
        </a>
    </div>
    <div class="card-body">
        <form asp-controller="Report" asp-action="TroupeReportingApprovalList" asp-area="" method="get">
            <div class="collapse" id="collapseFilter">
                <div class="border p-3 rounded mb-3 bg-light">
                    <div class="row g-4">
                        <div class="col-md-4">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="fromDate" name="fromDate" value="@ViewBag.FromDate" placeholder="" />
                                <label for="fromDate">From Date</label>
                                <span class="text-danger" id="errddlDist"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="toDate" name="toDate" value="@ViewBag.ToDate" placeholder="" />
                                <label for="toDate">To Date</label>
                                <span class="text-danger" id="errddlBlock"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <input class="btn btn-primary btn-lg " id="btnsrchfilter" type="submit" value="Search" style="margin-top:10px;">
                            <input class="btn btn-primary btn-lg " id="btnclrfilter" type="reset" value="Reset" style="margin-top:10px;margin-left:10px;">
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="table-responsive--rounded table-responsive--datatable">
            <div class="table-responsive">
                <table class="table" id="datatable">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center" style="width: 40px">Sl#</th>
                            <th scope="col"> Event Name</th>
                            <th scope="col">Group Name</th>
                            <th scope="col">Date Of Perform</th>
                            <th scope="col">Place</th>
                            <th scope="col">ReportingTime</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (troupedetails.Count > 0)
                        {
                            int count = 1;
                            foreach (var items in troupedetails)
                            {
                                <tr>
                                    <td class="text-center">@count</td>
                                    <td class="text-center">@items.EventTitle</td>
                                    <td class="text-center">@items.GroupName</td>
                                    <td class="text-center">@items.DateOfPerform</td>
                                    <td>
                                        @items.DistrictName
                                        <div class="text-muted">@items.BlockName</div>
                                        <div class="text-muted">@items.GPName</div>
                                    </td>
                                    <td class="text-center">@items.ReportingTime</td>
                                    <td class="text-center">@items.AStatus</td>
                                </tr>
                                count++;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript" nonce="uG2bsk6JIH923nsvp01n24KE">
    $(document).ready(function () {
        $('#fromDate').datetimepicker({
            format: 'DD-MMM-YYYY'
        }).on('dp.change', function (e) {
            $('#toDate').datetimepicker('destroy');
            $('#toDate').datetimepicker({
                format: 'DD-MMM-YYYY',
                minDate: new Date(e.date)
            });
            $('#toDate').val('');
        });
        $('#toDate').datetimepicker({
            format: 'DD-MMM-YYYY'
        });
        Datatable();
    });
    $('#btnclrfilter').click(function () {
        $('#fromDate').val("");
        $('#toDate').val("");
        $('#sdate').datetimepicker('destroy');
        $('#sdate').datetimepicker({
            format: 'DD-MMM-YYYY'
        }).on('dp.change', function (e) {
            $('#edate').datetimepicker('destroy');
            $('#edate').datetimepicker({
                format: 'DD-MMM-YYYY',
                minDate: new Date(e.date)
            });
            $('#edate').val('');
        });
        window.location.href = '/Report/TroupeReportingApprovalList';
    });
</script>