@{
    ViewData["Title"] = "Assigned Troupe View";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@Html.AntiForgeryToken()
<link href="~/css/styles.css" rel="stylesheet" />
<div class="card card--lg main-card">
    <div class="nav nav-tabs card--lg__tabs" id="nav-tab" role="tablist">
        <a class="nav-link " id="tropue-basic-info-tab" asp-controller="Event" asp-action="AssignTroup">
            Add
        </a>
        <a class="nav-link active" id="artist-info-tab" asp-controller="Event" asp-action="AssignTroupView">
            View
        </a>
        <a class="btn btn-primary btn-sm ms-auto mb-2 " data-bs-toggle="collapse" href="#collapseFilter" role="button">
            Filter <i class="bi bi-filter"></i>
        </a>
    </div>
    <div class="card-body">
        <h5 class="view-form-details__title mt-0"> Event Details</h5>
        <div>
            <div class="collapse" id="collapseFilter">
                <div class="border p-3 rounded mb-3 bg-light">
                    <div class="row g-4">
                        <div class="col-md-4">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="sdate" name="sdate" placeholder="" />
                                <label for="sdate">From Date</label>
                                <span class="text-danger" id="errddlDist"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="edate" name="edate" placeholder="" />
                                <label for="edate">To Date</label>
                                <span class="text-danger" id="errddlBlock"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <input class="btn btn-primary btn-lg " id="btnsrchfilter" type="submit" value="Search" style="margin-top:10px;">
                            <input class="btn btn-primary btn-lg " id="btnclrfilter" type="reset" value="Reset" style="margin-top:10px;margin-left:10px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive--rounded table-responsive--datatable">
            <div class="table-responsive">
                <table id="datatable" class="table">
                    <thead>
                        <tr>
                            <th scope="col">Sl#</th>
                            <th scope="col">Event Title</th>
                            <th scope="col">StartDate/EndDate</th>
                            <th scope="col">Address</th>
                            <th class="no-print" scope="col">TroupeName</th>
                            <th class="no-print" scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" aria-labelledby="Action Modal" aria-hidden="true" id="successModal22">
    <div class="modal-dialog modal-lg">
       
        <div class="modal-content">
            <div class="modal-body">
                <div class="mb-3 d-flex justify-content-between align-items-center">
                    <h5 class="mb-0 text-primary">Total Members</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg"></i></button>
                </div>
                <div class="table-responsive">
                    <div class="table-responsive--rounded">
                        <table id="datatable" class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Member Name</th>
                                    <th scope="col">Role in Troupe</th>
                                    <th scope="col">Aadhaar Number</th>
                                    <th scope="col">Bank Details</th>
                                  
                                </tr>
                            </thead>
                            <tbody id="addmore"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" nonce="uG2bsk6JIH923nsvp01n24KE">
    $(document).ready(function () {
       
        $('#sdate').datetimepicker({
            format: 'DD-MMM-YYYY'
        }).on('dp.change', function (e) {
            $('#edate').datetimepicker('destroy');
            $('#edate').datetimepicker({
                format: 'DD-MMM-YYYY',
                minDate: new Date(e.date)
            });
            $('#edate').val('');
        });
        $('#edate').datetimepicker({
            format: 'DD-MMM-YYYY'
        });
        LoadData();
    });
    $('#btnsrchfilter').click(function () {
        LoadData();
    });
    $('#btnclrfilter').click(function () {
        $('#sdate').val("");
        $('#edate').val("");
        $('#sdate').datetimepicker('destroy');
        $('#sdate').datetimepicker({
            format: 'DD-MMM-YYYY'
        }).on('dp.change', function (e) {
            $('#edate').datetimepicker('destroy');
            $('#edate').datetimepicker({
                format: 'DD-MMM-YYYY',
                minDate: new Date(e.date)
            });
            $('#edate').val('');
        });
        location.reload();

    });
    function LoadData() {
        $.ajax({
            url: '@Url.Action("DetailEventList", "Event")',
            data: { Actioncode: "F", fromDate: $('#sdate').val().trim(), toDate: $('#edate').val().trim() },
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                $('#datatable tbody').html('');
                $('#datatable').DataTable().destroy();
                let count = 1;
                let row = ''
                if (data.length != 0) {
                    $.each(data, function (index, item) {
                        row += '<tr>';
                        row += '<td>' + count + '</td>';
                        row += '<td>' + item.eventTitle + '</td>';
                        row += '<td>' + item.startDateTime + '<div class="text-muted">' + item.endDateTime + '</div></td>';
                        row += '<td>' + item.distName + '<div class="text-muted">' + item.blockName + '</div><div class="text-muted">' + item.gpName + '</div></td>';
                        row += '<td>' + '<a style="color:Blue;cursor: pointer;" data-toggle="modal" onclick="return MemberDetails(' + item.troupID + ')">' + item.groupName + '</a></td>';
                        if (item.status == 1) {
                            row += '<td></td>'; 
                        }
                        else {
                            row += '<td>' + '<a  class="d-none" onclick="EditAssignTroupe(' + item.eventId + ',' + item.assignEventId + ')"><i class="bi bi-pencil-square" title="EditAssignTroupe" style="cursor: pointer;"></i></a><a onclick="return DeleteAssignTroupe(' + item.eventId + ')"><i class="bi bi-trash" title="DeleteAssignTroupe" style="color: red; cursor: pointer;"></a></td>';
                        }
                        row += '</tr>';
                    });
                }
                else{
                    row += '';
                }
                $('#datatable tbody').html(row);
               
                $('#collapseFilter').removeClass('show');

            },
            error: function (error) {
                console.log(error);
            }
        });
        setTimeout(function () {
            Datatable();
        }, 1000);
    }
    function MemberDetails(Troupeid) {
        var TROUPEID = Troupeid;

        $('#successModal22').modal('show');
        $.ajax({
            type: "POST",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("RequestVerificationToken",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            url: '@Url.Action("GetMemberDetails", "ApprovalConfig")',
            data: { "TROUPEID": TROUPEID },
            success: function (newdata) {
                var Count = 0;
                var List = "";
                newdata = JSON.parse(newdata);
                $.each(newdata.data, function (i, v1) {
                    Count = Count + 1;
                    if (v1.IsLeader == 1) {
                        List += "<tr><td>" + v1.MemberName + "<div class='text-muted'>[Leader]</div></td><td>" + v1.Role + "</td><td>" + v1.AadharNo + "</td><td>" + v1.AccountNo + "</td></tr>";
                    }
                    else {
                        List += "<tr><td>" + v1.MemberName + "</td><td>" + v1.Role + "</td><td>" + v1.AadharNo + "</td><td>" + v1.AccountNo + "</td></tr>";
                    }
                });
                $("#addmore").html(List)
            }
        })
    }

    function DeleteAssignTroupe(id) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You want to delete assign troupe!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Submit'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '@Url.Content("~/")' + 'Event/DeleteAssignTroupe?Id=' + id,
                    type: 'post',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("RequestVerificationToken",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    cache: false,
                    contentType: false,
                    processData: false,
                    dataType: "json",
                    success: function (result) {
                        Swal.fire({
                            icon: 'success',
                            title: result.responseText,
                            text: result.responseMessage,
                        }).then((result) => {
                            if (result.isConfirmed) {
                                var url = '@Url.Content("~/")' + 'Event/AssignTroupView';
                                location.href = url;
                            }
                        })
                    },
                    error: function (result) {
                        Swal.fire({
                            icon: 'error',
                            title: result.responseText,
                            text: result.responseMessage,
                        });
                    },
                });

            }
            return false;
        })
    }
    function EditAssignTroupe(eventId, assigneventId) {
        window.location.href = '@Url.Action("EditAssignTroupeEvent", "Event")?EventId=' + eventId + '&AssignEventId=' + assigneventId;
    }
</script>

