@model CTMS.Model.Entities.ReportMaster.ArtWiseReport
@{
    ViewData["Title"] = "Report";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var Data = ViewBag.Detail;
}
<style>
    .text-end a {
        text-decoration: none;
        gap: 0.5rem;
        color: var(--bs-black);
    }
</style>
<div class="card card--lg main-card">
    <div class="nav nav-tabs card--lg__tabs" id="nav-tab" role="tablist">
        <a asp-controller="Dashboard" asp-action="DashboardPaymentReport" asp-area="" class="nav-link active">
            Payment Report
        </a>
        <div class="col text-end  me-2 me-2">
            <a href="javascript:;" onclick="window.history.back()"><i class="bi bi-arrow-left"></i>Back </a>
        </div>
        <a class="btn btn-primary btn-sm ms-auto mb-2" data-bs-toggle="collapse" href="#collapseFilter" role="button">
            Filter <i class="bi bi-filter"></i>
        </a>
    </div>

    @if (Data != null)
    {
        <div class="card-body">
        
                <div class="collapse" id="collapseFilter">
                    <div class="border p-3 rounded mb-3">
                        <div class="row g-4">
                            @if (@ViewBag.UserType == "BSSO")
                            {
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <select class="form-select" id="ddlDist" disabled>
                                            <option value="0">Select District</option>
                                        </select>
                                        <label for="tdist">District<span class="text-danger">*</span></label>
                                        <span class="text-danger" id="errddlDist"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <select class="form-select" id="ddlBlock" disabled>
                                            <option value="0">Select Block</option>
                                        </select>
                                        <label for="block">Block/ULB<span class="text-danger">*</span></label>
                                        <span class="text-danger" id="errddlBlock"></span>
                                    </div>
                                </div>
                            }
                            else
                            {
                                @if (@ViewBag.UserType == "DSSO")
                                {
                                    <div class="col-md-4">
                                        <div class="form-floating">
                                            <select class="form-select" id="ddlDist" disabled>
                                                <option value="0">Select District</option>
                                            </select>
                                            <label for="tdist">District<span class="text-danger">*</span></label>
                                            <span class="text-danger" id="errddlDist"></span>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-4">
                                        <div class="form-floating">
                                            <select class="form-select" id="ddlDist">
                                                <option value="0">Select District</option>
                                            </select>
                                            <label for="tdist">District<span class="text-danger">*</span></label>
                                            <span class="text-danger" id="errddlDist"></span>
                                        </div>
                                    </div>
                                }
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <select class="form-select" id="ddlBlock">
                                            <option value="0">Select Block</option>
                                        </select>
                                        <label for="block">Block/ULB<span class="text-danger">*</span></label>
                                        <span class="text-danger" id="errddlBlock"></span>
                                    </div>
                                </div>

                            }
                          
                            <div class="col-md-4">
                                <input class="btn btn-primary btn-lg" id="btnsrchfilter" type="submit" value="Search" style="margin-top:10px;margin-left:10px;">
                                <input class="btn btn-primary btn-lg" id="reset" type="reset" value="Reset" style="margin-top:10px;margin-left:10px;" onclick="reset()">
                            </div>
                        </div>
                    </div>
                </div>
         
            <div class="table-responsive--rounded table-responsive--datatable">
                <div class="table-responsive">
                    <table class="table" id="datatable">
                        <thead>
                            <tr>
                                <th scope="col" class="text-center" style="width: 40px">Sl#</th>
                                <th scope="col">District/Block</th>
                                <th scope="col">Total Fund (in <i class="bi bi-currency-rupee"></i>)</th>
                                <th scope="col">Fund Disbursed (in <i class="bi bi-currency-rupee"></i>)</th>
                                <th scope="col">Available (in <i class="bi bi-currency-rupee"></i>)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int count = 1;
                            }
                            @foreach (var items in Data)
                            {
                                <tr>
                                    <td class="text-center">@count</td>
                                    <td>
                                        @if (@ViewBag.DistId == 0)
                                        {
                                            @if (@ViewBag.UserType == "BSSO" || items.DistId == 0)
                                            {
                                                @items.DistName
                                            }
                                            else
                                            {
                                                <a href="../Dashboard/DashboardPaymentReportDetails?DistId=@items.DistId&CatId=@ViewBag.CatId&SubCatId=@ViewBag.SubCatId">@items.DistName</a>
                                            }
                                            
                                           

                                        }
                                        else
                                        {
                                            @items.DistName
                                        }
                                    </td>
                                    <td>
                                        @items.AvailableBalance
                                    </td>
                                    <td>
                                       @items.FundDisburse
                                    </td>
                                    <td>
                                     @items.Pending
                                    </td>
                                    
                                </tr>
                                count++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
</div>
<div class="modal fade" tabindex="-1" aria-labelledby="Action Modal" aria-hidden="true" id="successModalTotalReg">
    <div class="modal-dialog modal-lg">
       
        <div class="modal-content">
            <div class="modal-body">
                <div class="mb-3 d-flex justify-content-between align-items-center">
                    <h5 class="mb-0 text-primary">Total Troupe Registration Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg"></i></button>
                </div>
                <div class="table-responsive--rounded table-responsive--datatable">
                    <div class="table-responsive">
                        <table class="table" id="datatable1">
                            <thead>
                                <tr>
                                    <th scope="col" class="text-center">Sl.No</th>
                                    <th scope="col">Cultural Troupe Name</th>
                                    <th scope="col">Troupe Created On</th>
                                    <th scope="col">Address</th>
                                    <th scope="col">Total Members</th>
                                </tr>
                            </thead>
                            <tbody id="addmoreTotlReg"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" aria-labelledby="Action Modal" aria-hidden="true" id="successModalTotalMembers">
    <div class="modal-dialog modal-lg">
       
        <div class="modal-content">
            <div class="modal-body">
                <div class="mb-3 d-flex justify-content-between align-items-center">
                    <h5 class="mb-0 text-primary">Total Member Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg"></i></button>
                </div>
                <div class="table-responsive--rounded table-responsive--datatable">
                    <div class="table-responsive">
                        <table class="table" id="datatable1">
                            <thead>
                                <tr>
                                    <th scope="col" class="text-center">Sl.No</th>
                                    <th scope="col">Member Name</th>
                                    <th scope="col">Role in Troupe</th>
                                    <th scope="col">Address</th>
                                    <th scope="col">Aadhaar Number</th>
                                    <th scope="col">Bank Details</th>
                                </tr>
                            </thead>
                            <tbody id="addmoreTotlmembers"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" aria-labelledby="Action Modal" aria-hidden="true" id="successModalTotalPending">
    <div class="modal-dialog modal-lg">
       
        <div class="modal-content">
            <div class="modal-body">
                <div class="mb-3 d-flex justify-content-between align-items-center">
                    <h5 class="mb-0 text-primary">Total Pending Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg"></i></button>
                </div>
                <div class="table-responsive--rounded table-responsive--datatable">
                    <div class="table-responsive">
                        <table class="table" id="datatable1">
                            <thead>
                                <tr>
                                    <th scope="col" class="text-center">Sl.No</th>
                                    <th scope="col">Member Name</th>
                                    <th scope="col">Role in Troupe</th>
                                    <th scope="col">Address</th>
                                    <th scope="col">Aadhaar Number</th>
                                    <th scope="col">Bank Details</th>
                                </tr>
                            </thead>
                            <tbody id="addmoreTotlTotalPending"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" aria-labelledby="Action Modal" aria-hidden="true" id="successModalTotalApproved">
    <div class="modal-dialog modal-lg">
        
        <div class="modal-content">
            <div class="modal-body">
                <div class="mb-3 d-flex justify-content-between align-items-center">
                    <h5 class="mb-0 text-primary">Total Approved Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg"></i></button>
                </div>
                <div class="table-responsive--rounded table-responsive--datatable">
                    <div class="table-responsive">
                        <table class="table" id="datatable1">
                            <thead>
                                <tr>
                                    <th scope="col" class="text-center">Sl.No</th>
                                    <th scope="col">Member Name</th>
                                    <th scope="col">Role in Troupe</th>
                                    <th scope="col">Address</th>
                                    <th scope="col">Aadhaar Number</th>
                                    <th scope="col">Bank Details</th>
                                </tr>
                            </thead>
                            <tbody id="addmoreTotlTotalApproved"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" aria-labelledby="Action Modal" aria-hidden="true" id="successModalTotalrejecteded">
    <div class="modal-dialog modal-lg">
    
        <div class="modal-content">
            <div class="modal-body">
                <div class="mb-3 d-flex justify-content-between align-items-center">
                    <h5 class="mb-0 text-primary">Total Rejected Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg"></i></button>
                </div>
                <div class="table-responsive--rounded table-responsive--datatable">
                    <div class="table-responsive">
                        <table class="table" id="datatable1">
                            <thead>
                                <tr>
                                    <th scope="col" class="text-center">Sl.No</th>
                                    <th scope="col">Member Name</th>
                                    <th scope="col">Role in Troupe</th>
                                    <th scope="col">Address</th>
                                    <th scope="col">Aadhaar Number</th>
                                    <th scope="col">Bank Details</th>
                                </tr>
                            </thead>
                            <tbody id="addmoreTotlTotalrejecteded"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" nonce="uG2bsk6JIH923nsvp01n24KE">
    $(document).ready(function () {
        Datatable();
        getCategory();
        var CatId = "@ViewBag.CatId";
        var SubCatId = "@ViewBag.SubCatId";
        if (CatId != "0" && SubCatId != "0") {
            $("#ddlCategory").val(CatId);
            $("#ddlCategory").trigger('change');
            $("#ddlSubCategory").val(SubCatId);
        }
        getDistrict();
        var Distid = "@ViewBag.Dist";
        var Blockid = "@ViewBag.Blockid";
        var Gpid = "@ViewBag.GPId";
        if (Distid != "0") {
            $('#ddlDist').val(Distid);
            $('#ddlDist').trigger('change');
            $('#ddlBlock').val(Blockid);
            $('#ddlBlock').trigger('change');
            $('#ddlGp').val(Gpid);
            $('#ddlGp').trigger('change');
        }
        var UserType = "@ViewBag.UserType";
        if (UserType == "DSSO") {
            var DistId = "@ViewBag.DISTCODE";
            $("#ddlDist").val(DistId);
            $('#ddlDist').trigger('change');
            var Blockid = "@ViewBag.Blockid";
            $('#ddlBlock').val(Blockid);
        }
        else if (UserType == "BSSO") {
            var blockId = "@ViewBag.DISTCODE";
            let distid = getDistrictbyblockid(blockId);
            $("#ddlDist").val(distid);
            $('#ddlDist').trigger('change');
            $("#ddlBlock").val(blockId);
            $('#ddlBlock').trigger('change');
        }
        else {
            $("#ddlDist").val(Distid);
            $('#ddlDist').trigger('change');
            $('#ddlBlock').val(Blockid);
        }
    });
    function getDistrictbyblockid(blockid) {
        var result = "";
        $.ajax({
            url: '@Url.Content("~/")' + 'Master/GetDistrictByBlockid',
            data: { blockid: blockid },
            type: "get",
            dataType: "json",
            async: false,
            success: function (data) {
                if (data.state == "success") {
                    result = data.data;
                }
            }
        });
        return result;
    }
    function NoOfTotalReg(DistId, isdist) {
             var DistId = DistId;
        var isdist = isdist;
        $('#successModalTotalReg').modal('show');
        $.ajax({
            type: "GET",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("RequestVerificationToken",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            url: '@Url.Action("TotalRegistrationpopup", "MISReports")',
            data: { "DistId": DistId, "isdist": isdist },
            success: function (newdata) {
                var Count = 0;
                var List = "";
                newdata = JSON.parse(newdata);
                $.each(newdata.data, function (i, v1) {
                    Count = Count + 1;
                    List += "<tr><td>" + Count + "</td><td>" + v1.GroupName + "</td><td>" + v1.GrpCreatedOn + "</td><td>" + v1.DistrictName + "<div class=text-muted>" + v1.BlockName + "</div>" + "<div class=text-muted>" + v1.GPName + "</div>" + "</td><td>" + v1.MemberCount + "</td></tr>";
                });
                $("#addmoreTotlReg").html(List);
            },
            error: function (xhr, status, error) {
                console.log("AJAX Error: " + status + " - " + error);
            }

        });
    }
    function NoOfTotalMembers(DISTCODE, isdist) {
        var DistId = DISTCODE;
        var isdist = isdist;
        $('#successModalTotalMembers').modal('show');
        $.ajax({
            type: "GET",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("RequestVerificationToken",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            url: '@Url.Action("Totalmemberpopup", "MISReports")',
            data: { "DistId": DistId, "isdist": isdist },
            success: function (newdata) {
                var Count = 0;
                var List = "";
                newdata = JSON.parse(newdata);
                $.each(newdata.data, function (i, v1) {
                    Count = Count + 1;
                    if (v1.IsLeader == 1) {
                        List += "<tr><td>" + Count + "</td><td>" + v1.MemberName + "<div class='text-muted'>[Leader]</div></td><td>" + v1.Role + "</td><td>" + v1.DistrictName + "<div class=text-muted>" + v1.BlockName + "</div>" + "<div class=text-muted>" + v1.GPName + "</div>" + "</td><td>" + v1.AadharNo + "</td><td>" + v1.AccountNo + "</td></tr>";
                    }
                    else {
                        List += "<tr><td>" + Count + "</td><td>" + v1.MemberName + "</td><td>" + v1.Role + "</td><td>" + v1.DistrictName + "<div class=text-muted>" + v1.BlockName + "</div>" + "<div class=text-muted>" + v1.GPName + "</div>" + "</td><td>" + v1.AadharNo + "</td><td>" + v1.AccountNo + "</td></tr>";
                    }
                });
                $("#addmoreTotlmembers").html(List);
            },
            error: function (xhr, status, error) {
                console.log("AJAX Error: " + status + " - " + error);
            }

        });
    }
    function NoOfTotalPending(DISTCODE, isdist) {
        var DistId = DISTCODE;
        var isdist = isdist;
        $('#successModalTotalPending').modal('show');
        $.ajax({
            type: "GET",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("RequestVerificationToken",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            url: '@Url.Action("TotalmemberPendingpopup", "MISReports")',
            data: { "DistId": DistId, "isdist": isdist },
            success: function (newdata) {
                var Count = 0;
                var List = "";
                newdata = JSON.parse(newdata);
                $.each(newdata.data, function (i, v1) {
                    Count = Count + 1;
                    if (v1.IsLeader == 1) {
                        List += "<tr><td>" + Count + "</td><td>" + v1.MemberName + "<div class='text-muted'>[Leader]</div></td><td>" + v1.Role + "</td><td>" + v1.DistrictName + "<div class=text-muted>" + v1.BlockName + "</div>" + "<div class=text-muted>" + v1.GPName + "</div>" + "</td><td>" + v1.AadharNo + "</td><td>" + v1.AccountNo + "</td></tr>";
                    }
                    else {
                        List += "<tr><td>" + Count + "</td><td>" + v1.MemberName + "</td><td>" + v1.Role + "</td><td>" + v1.DistrictName + "<div class=text-muted>" + v1.BlockName + "</div>" + "<div class=text-muted>" + v1.GPName + "</div>" + "</td><td>" + v1.AadharNo + "</td><td>" + v1.AccountNo + "</td></tr>";
                    }
                });
                $("#addmoreTotlTotalPending").html(List);
            },
            error: function (xhr, status, error) {
                console.log("AJAX Error: " + status + " - " + error);
            }

        });
    }
    function NoOfTotalApproved(DISTCODE, isdist) {
        var DistId = DISTCODE;
        var isdist = isdist;
        $('#successModalTotalApproved').modal('show');
        $.ajax({
            type: "GET",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("RequestVerificationToken",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            url: '@Url.Action("TotalmemberApprovedpopup", "MISReports")',
            data: { "DistId": DistId, "isdist": isdist },
            success: function (newdata) {
                var Count = 0;
                var List = "";
                newdata = JSON.parse(newdata);
                $.each(newdata.data, function (i, v1) {
                    Count = Count + 1;
                    if (v1.IsLeader == 1) {
                        List += "<tr><td>" + Count + "</td><td>" + v1.MemberName + "<div class='text-muted'>[Leader]</div></td><td>" + v1.Role + "</td><td>" + v1.DistrictName + "<div class=text-muted>" + v1.BlockName + "</div>" + "<div class=text-muted>" + v1.GPName + "</div>" + "</td><td>" + v1.AadharNo + "</td><td>" + v1.AccountNo + "</td></tr>";
                    }
                    else {
                        List += "<tr><td>" + Count + "</td><td>" + v1.MemberName + "</td><td>" + v1.Role + "</td><td>" + v1.DistrictName + "<div class=text-muted>" + v1.BlockName + "</div>" + "<div class=text-muted>" + v1.GPName + "</div>" + "</td><td>" + v1.AadharNo + "</td><td>" + v1.AccountNo + "</td></tr>";
                    }
                });
                $("#addmoreTotlTotalApproved").html(List);
            },
            error: function (xhr, status, error) {
                console.log("AJAX Error: " + status + " - " + error);
            }

        });
    }
    function NoOfTotalRejected(DISTCODE, isdist) {
        var DistId = DISTCODE;
        var isdist = isdist;
        $('#successModalTotalrejecteded').modal('show');
        $.ajax({
            type: "GET",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("RequestVerificationToken",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            url: '@Url.Action("TotalRejectededpopup", "MISReports")',
            data: { "DistId": DistId, "isdist": isdist },
            success: function (newdata) {
                var Count = 0;
                var List = "";
                newdata = JSON.parse(newdata);
                $.each(newdata.data, function (i, v1) {
                    Count = Count + 1;
                    if (v1.IsLeader == 1) {
                        List += "<tr><td>" + Count + "</td><td>" + v1.MemberName + "<div class='text-muted'>[Leader]</div></td><td>" + v1.Role + "</td><td>" + v1.DistrictName + "<div class=text-muted>" + v1.BlockName + "</div>" + "<div class=text-muted>" + v1.GPName + "</div>" + "</td><td>" + v1.AadharNo + "</td><td>" + v1.AccountNo + "</td></tr>";
                    }
                    else {
                        List += "<tr><td>" + Count + "</td><td>" + v1.MemberName + "</td><td>" + v1.Role + "</td><td>" + v1.DistrictName + "<div class=text-muted>" + v1.BlockName + "</div>" + "<div class=text-muted>" + v1.GPName + "</div>" + "</td><td>" + v1.AadharNo + "</td><td>" + v1.AccountNo + "</td></tr>";
                    }
                });
                $("#addmoreTotlTotalrejecteded").html(List);
            },
            error: function (xhr, status, error) {
                console.log("AJAX Error: " + status + " - " + error);
            }

        });
     }

</script>
<script>
    $('#btnsrchfilter').click(function () {
        var DistId = $("#ddlDist").val();
        var BlockId = $("#ddlBlock").val();
        window.location.href = '@Url.Action("DashboardPaymentReportSearch", "Dashboard")?DISTCODE=' + DistId + '&BlockId=' + BlockId;
    });
</script>
<script type="text/javascript" nonce="uG2bsk6JIH923nsvp01n24KE">
    function reset() {
        var Role = "@ViewBag.Role";
        var DistId = "@ViewBag.DISTCODE";
        var Usertype = "@ViewBag.UserType";
        window.location.href = '@Url.Action("DashboardPaymentReport", "Dashboard")?DISTCODE=' + DistId + '&userrole=' + Role + '&UserType=' + Usertype;
    }
</script>